# Server Config
PORT=3000
NODE_ENV=development

# Firebase Config (Optional - will fallback to local config if missing)
FIREBASE_PROJECT_ID=
FIREBASE_DATABASE_ID=
FIREBASE_SERVICE_ACCOUNT=

# Paystack Config
PAYSTACK_SECRET_KEY=
VITE_PAYSTACK_PUBLIC_KEY=

# GigsHub API Config
GIGSHUB_API_KEY=dk_e87pONcP0e0NxTfZg-gvEwwpVf025Czu
GIGSHUB_BASE_URL=https://www.gigshub.cloud/api/v1

# Notifications (EmailJS)
VITE_EMAILJS_SERVICE_ID=
VITE_EMAILJS_TEMPLATE_ID=
VITE_EMAILJS_PUBLIC_KEY=
