# Server Config
PORT=3000
NODE_ENV=development

# Firebase Config (Optional - will fallback to local config if missing)
FIREBASE_PROJECT_ID=
FIREBASE_DATABASE_ID=
FIREBASE_SERVICE_ACCOUNT=

# Paystack Config
PAYSTACK_SECRET_KEY=
VITE_PAYSTACK_PUBLIC_KEY=

# Admin Email Notifications (Nodemailer)
EMAIL_USER=
EMAIL_PASS=
